  .modall {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 1000%;
    position: fixed;
    z-index: 1;
  }
  .modal-contentss {
    padding: 20px;
    width: 700px;
    height: 650px;
    margin-left: 22%;
  }
  .modal-imagee{
      width : 100%;
      height :100%;
  }
  .closee {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .closee:hover {
    color: black;
    cursor: pointer;
  }
  #Galleryname{
    font-size: xx-large;
    margin : 0 0 0 0;

  }